*{
  background-color: #ededed;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  border-radius: 160px;
}
h3 {
  font-size: 19px;
}
.profile {
  width: 500px;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
}
.picture {
  width: 20px;
  display: inline-block;
  margin-left: 30px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 18px;
  margin-top: -20px;
}
p {
  margin-top: -10px;
}
input[type="text"] {
  margin-top: 10px;
  font-size: 14px;
  height: 32px;
  width: 450px;
  background-color: #fafafa;
  border-radius: 5px;
}
button {
  background-color: #4488db;
  color: white;
  border-radius: 10px;
  height: 38px;
  width: 455px;
}
